extends baseEmail

block content
  p Hi #{firstName},
  p Forget you password? Submit a PATCH request with your new password and passwordConform to 
  p= url
  p (unfortunately, this feature is not yet implemented, within the website, it only works with the API)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset password
  p If you didn't forget your password please ignore this email
  p - Peter Nady, CEO